{% extends 'base.html' %} 
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div
      class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start"
    >
      <h1>Library</h1>
    </div>
    <div
      class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center"
    >
      <a href="{{ url_for('add_video') }}" class="btn btn-dark">Add Video</a>
    </div>
  </div>
  <div class="row">
    {% for video in videos %}
    <div class="col-12 col-md-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img
          class="card-img-top"
          src="{{ video.get('thumbnail_link') }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ video.get('name') }}</h5>
          <p class="card-text">{{ video.get('description') }}</p>
          <a
            href="{{ url_for('watch_video', id=video.get('id')) }}"
            class="btn btn-dark"
            >Watch</a
          >
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#deleteModal"
            data-video="{{ video.id }}"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Video</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{ url_for('delete_video') }}" method="POST">
          <div class="modal-body">
            <input type="hidden" name="id" />
            <p>Are you sure you want to delete this video?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} 
{% block scripts %}
<script>
  $("#deleteModal").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var videoId = button.data("video"); // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this);
    modal.find(".modal-body input").val(videoId);
  });
</script>
{% endblock %}
